<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include ('partials/head.html') %>
</head>

<body>
    <%- include ('partials/navigation.html') %>
    <div class="container-contact">
        <div class="row">
            <form class="form">
                <div class="title">
                    <h2>Contact Me</h2>
                </div>
                <div class="email">
                    <input type="email" placeholder="Email" id="input">
                </div>
                <div class="message">
                    <input type="text" placeholder="Message">
                </div>
                <div class="button">
                    <button id="button">Send Message</button>
                </div>
            </form>
        </div>
    </div>
    <%- include ('partials/footer.html') %>

</body>

</html>