<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
 	<%- include ('partials/head.html') %>
</head>

<body>
    <%- include ('partials/navigation.html') %>

    <header class="header">
    	<img src="./img/pews-logo.png" alt="Pews Logo">
    </header>

    <!-- Section One -->
    <div class="contenedor" id="about">
    	<div class="logo">
    		<i class="fab fa-youtube fa-10x"></i>
    	</div>

    	<div class="logo-text">
    		<h3>Made by Giiber Developer</h3>
    		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus quo, facilis cum quam quas eaque vel temporibus dolor deleniti laborum, corporis excepturi mollitia expedita soluta consequuntur labore quisquam, sunt!</p>
    	</div>
    </div>

    <%- include ('partials/footer.html') %>

</body>

</html>